.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /*left to right*/
  grid-template-rows: 200px;
  grid-template-areas: 
    'randomNumber combinations'
    'form combinations'
    'form combinations';
  grid-gap: 10px;
  width: 60%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.randomNumber {
  grid-area: randomNumber;
  background-color: red;
  height: 100%;
}

.form {
  grid-area: form;
  background-color: blue;
  height: 100%;
}

.combinations {
  grid-area: combinations;
  background-color: violet;
  height: 100%;
}
