@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@800&display=swap');
body {
  background-color: #F2E1C1;
  color: white;
  font-family: 'Gluten', cursive;
}

h1 {
  font-size: 4rem;
}

.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /*left to right*/
  grid-template-rows: 100px;
  grid-template-areas: 
    'title title'
    'randomNumber combinations'
    'guess combinations'
    'form combinations'
    'form combinations';
  grid-gap: 10px;
  width: 60%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.guess {
  grid-area: guess;
  background-color: transparent;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  border-radius: 10px;
}

.guessDigit {
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  color: #716F81;
  font-size: 2rem;
}

.title {
  grid-area: title;
}

.randomNumber {
  grid-area: randomNumber;
  background-color: transparent;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  border-radius: 10px;
}

.form {
  grid-area: form;
  background-color: #F6AE99;
  height: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 15px;
  align-items: center;
  border-radius: 10px;
  justify-content:center ;
  padding: 0 20px 0 20px;
}

.combinations {
  grid-area: combinations;
  background-color: #B97A95;
  height: 100%;
  border-radius: 10px;
}

.showDigit {
  background-color: #716F81;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
}

.hiddenDigit {
  background-color: #716F81;
  color: #716F81;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100%;
}

.hiddenDigit::before {
  content: "\003F";
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.key {
  border: 1px solid white;
  padding: 15px;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 2rem;
  box-shadow:3px 4px;
}

table, td, th {
  border: 1px solid white;
  height: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/*Small screens & Laptops*/
@media only screen and (min-width: 900px) and (max-width: 1024px) {}
/*Ipads and Tablets*/
@media only screen and (min-width: 280px) and (max-width: 500px) {
  .title {
    font-size: 2rem;
  }

  .hiddenDigit::before, .showDigit {
    font-size: 1.5rem;
  }

  .container {
    width: 100%;
  }
}